/* You can add global styles to this file, and also import other style files */
html {
  &.dark-theme {
    --ngdp-font-color: white;
    --ngdp-background-color: #363636;
    --ngdp-border-color: white;
    --ngdp-nav-active-color: #6e6e6e;
    --ngdp-nav-highlight-color: #adadad;
  }

  &.light-theme {
    --ngdp-font-color: black;
    --ngdp-background-color: white;
    --ngdp-border-color: black;
    --ngdp-nav-active-color: #b9b9b9;
    --ngdp-nav-highlight-color: #868686;
  }
}
