:host {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(0, auto) 1fr;
  grid-template-areas: 'nav content';

  .side-navigation-bar {
    grid-area: nav;
    width: auto;
    border-right: 2px solid black;
    height: 100%;
    margin-right: 10px;

    ul {
      list-style: none;
      margin: 0;
      margin-left: 15px;
      padding: 0;
      width: calc(100% - 15px);

      li {
        width: 100%;

        a {
          text-decoration: none;
          font-size: 20px;
          padding: 10px 20px;
          width: calc(100% - 40px);
          display: inline-block;
          color: black;

          &:hover {
            background-color: #868686;
          }
        }
      }
    }

    span.group-header {
      display: block;
      font-size: 24px;
      padding-left: 5px;
      padding-bottom: 5px;
      padding-top: 5px;
      font-weight: bold;
    }
  }

  .router-content {
    grid-area: content;
  }
}
